:root {
  --search-width: 350px;
  --max-page-width: 1000px;
}

.page-content {
  max-width: var(--max-page-width);
  margin: auto;
  padding: 1rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
